@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --rocketseat-color: #7159c1;
}

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    background-color: var(--rocketseat-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left:32px;
}

.links a {
    position: relative;
    text-decoration: none;
    color:#777;
}

.links a.active {
    font-weight: bold;
    color: var(--rocketseat-color);
}

.links a:hover {
    color: var(--rocketseat-color);
}

.links a::after {
    content:"";
    width: 0;
    height: 2px;
    background-color: var(--rocketseat-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 500ms cubic-bezier(0.79,-0.01, 0, 0.65);
}