{% extends "layout.njk" %}

{% block head%}

{% endblock%}


{% block content %}
<div class="card">
    <section class="avatar"></section>
    <section class="details">
        <h1>Everybory going hard!</h1>
        <h2>Members</h2>
    </section>
{% endblock %}