{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Wagner Moreira</title>
{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/47096330?s=460&u=3195f362cc6afec6a72666f33ebff54fa520e12d&v=4" alt="Wagner Moreira">
    <h1>Wagner Moreira</h1>
    <h2>Programador</h2>
    <p>Programador front-end, desenvolvendo novas habilidades para solução de desafios na web.
    Estudante na <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>.</p>
</div>
<div class="link links-footer">
    <a href="https://github.com/wagnermor" target="_blank">Github</a>
    <a href="https://twitter.com/wagnerianomor" target="_blank">Twitter</a>
    <a href="https://linkedin.com/in/wagnermor" target="_blank">Linkedin</a>
</div>

{% endblock %}