{% extends "layout.njk" %}

{% block head %}
<title>Gym Manager - Instrutores</title>
{% endblock %}

{% block content %}
<div class="card">
    <section class="avatar"></section>
    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Instructor++++</div>
            <div>Paulo Roque</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>29</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>Aeróbico</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>04/06/2020</div>
        </div>
    </section>
{% endblock %}